
.headerContainer {
   
    padding-left: 4vw;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;

}
.titleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10vh;
    align-items: center;
    justify-content: space-between;
 
   
}


.navContainer {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width:100%;
   justify-content: space-between;
}

.headerContainer h1,
.headerContainer h2 {
  text-align: center;
   
   flex: 1;
   white-space: nowrap;
}


.headerContainer .myName {
    
    flex: 1;
    font-size: clamp(1rem, 3vw, 10rem);
}

.seperator {
     font-size: clamp(1rem, 3vw, 3rem);
}

.sizingContainer {
  width: 18%;
  height: 100%;
}