
.projectContainer{
  scroll-behavior: smooth;
  justify-content: space-between;
  width:100%;
  height:65vh;
  display: flex;
  overflow-x: auto;
  gap:4rem;
  margin-left: -5vw;
  padding-left: 5vw;
 mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.3) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.3) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  
}
.sizingContainer {
  min-width:20vw;
  height:100%;
}
.whiteSpace {
  height:100px;
  min-width:8vw;
}

/* .projectContainer {
    position:relative;
    display:flex;
    height:75vh;
   flex:2;
    padding-left: 4vw;
  overflow-x: auto;
  gap:4rem;
  scroll-behavior: smooth;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.3) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.3) 97%,
    rgba(0, 0, 0, 0) 100%
  );
} */

